In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# This is a level 1 Heading

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

List popular languages for Data Science:
- Python
- SQL
- R

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. SQL

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy 
3. ggplot2

In [1]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------|
|Python|
|SQL|
|R|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

##### Addition
5+3

##### Multiplication
5*3

##### Subtraction
5-3

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
(3*4)+5

17

In [ ]:
This a simple arithmetic expression to mutiply 3 by 4 and then add 5

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
 This will convert 600 minutes to hours by diving by 60

In [7]:
600/60

10.0

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

see exercise 3

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

## Autor
Jo√£o Rodrigues